@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  background-color: #30486c;
  font-family: 'Poppins', sans-serif;
  width: auto;
  height: auto;
}

.card {
  width: 351px;
  height: 590px;
  background-color: #12575b;
  display: flex;
  justify-content: center;
  margin: auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.title-card {
  padding-left: 24px;
  padding-right: 24px;
  color: aqua;
}

.desc-card {
  padding-left: 24px;
  padding-right: 24px;
  color: white;
}
.equil-img {
  top: 0;
  left: 0;
  position: relative;
  width: 303px;
  height: 302px;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

.equil-view {
  position: absolute;
  top: 150px;
  left: 750px;
  display: block;
}

.icon-eth {
  width: 16px;
  height: 26px;
  padding-right: 5px;
}
.currency-eth {
  padding-left: 24px;
  padding-right: 24px;
  color: #66c8ff;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.date-eth {
  display: flex;
  padding-left: 100px;
}


