.attribution {
  color: white;
  display: flex;
  justify-content: center;
  align-self: flex-end;
}
.card-component {
  background-color: rgb(12, 19, 128);
  width: 25rem;
  height: 40rem;
  display: flex;
  justify-content: center;
  margin: auto;
  box-shadow: 2px 39px 67px -11px rgba(0, 0, 0, 0.53);
  border-radius: 15px;
}

.description {
  color: white;
  display: flex;
  justify-content: center;
}

img {
  position: absolute;
  width: 20rem;
  height: auto;
  padding-top: 1rem;
}
.title {
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
}
